*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.box{
    width: 150px;
    height: 150px;
    text-align: center;
    background-color: lightgray;
    transition: border-color 0.3s ease;
}

.solid{
    border: 5px solid black;
    padding: 10px;
}

.dashed{
    border: 5px dashed black;
    padding: 20px;

}

.double {
    border: 5px double black;
    padding: 30px;
}

.groove{
    border: 5px groove black;
    padding: 15px;
    border-radius: 20px;
}

.box:hover{
    border-color: blue;
}