.box{
    height: 100px;
    width: 100px;
    /* background-color: red; */

    border-top: 10px solid black;
    border-radius: 50px;
    /* transition-property:transform;
    transition-duration:2s ;
    transition-timing-function:ease ;
    transition-delay:0s ; */


    /* transition: transform 2s ease-in-out 0s; */

    animation: move 2s ease infinite;
}

/* .box:hover{ */
    /* transform: translateX(200px);
    transform: rotate(180deg);
    transform: scale(1.5); */

    /* transform: translate(200px) rotate(360deg) scale(1.5); */
/* } */




/* 
@keyframes move {
    0%{
        transform: translateX(0px) ;
    }
    30%{
        transform: translate(200px) rotate(180deg) scale(1.5);
    }
    50%{
        transform: translate(200px,200px) ;
    }
    70%{
        transform: translate(0px,200px) ;
    }

    100%{
        transform: translate(0px);
    }
    
} */


@keyframes move {
    0%{
          transform: translate(0px);
    }
    100%{
         transform: translate(0px) rotate(360deg);
    }
}